---

---

<section
  class="flex min-h-screen flex-col items-center justify-center bg-gray-900"
>
  <p class="mb-8 animate-pulse text-5xl font-bold text-white">Coming Soon</p>
  <p class="mb-8 text-lg text-white">
    I am working hard to bring you some useful and interesting features and
    resources.
  </p>
</section>
