---
import { Image } from "astro:assets";
import ProfilePic from "@assets/profile.png";
---

<section id="hero" class="hero">
  <div class="hero-grid">
    <article id="tagline" class="tagline">
      <h1>Alexander Reyes</h1>
      <p>
        I'm a <strong>fullstack web developer</strong> and <strong
          >writer</strong
        >with special interest in appealing <em>UI/UX</em>, improving <em
          >web accessibility</em
        > and adhering to <em>web security</em> guidelines.
      </p>
    </article>

    <div id="picture" class="picture">
      <figure>
        <Image
          src={ProfilePic}
          alt="Alexander Reyes' profile pic"
          loading="eager"
        />
      </figure>
    </div>

    <div class="hero-illustration">
      <div class="center-circle">Fullstack Web developer</div>
      <div class="bubble a11y">Digital accessibility</div>
      <div class="bubble frontend">Frontend</div>
      <div class="bubble backend">Backend</div>
      <div class="bubble ui-ux">UI/UX</div>
      <div class="bubble writing">Writing</div>
    </div>

    <article class="hero-bits">
      <p>20+ repositories</p>
      <p>270+ contributions last year</p>
      <p>5+ articles</p>
    </article>
  </div>
</section>
