---
import { Image } from 'astro:assets'
import ProfilePic from '../assets/profile.png'
---

<section class="grid grid-cols-1 gap-4 lg:grid-cols-8 text-center content-center lg:text-left min-h-screen max-w-screen-lg">

  <div id="tagline" class="lg:col-start-2 lg:col-end-7">

    <h1 class="sm:text-4xl text-5xl font-serif font-extrabold">Alexander Reyes</h1>
    <p class="text-lg text-balance">
      I'm a passionate <strong class="font-bold">fullstack web developer</strong> from El Salvador with a deep interest in appealing <em class="font-light">UI/UX</em>, <em class="font-light">web accessibility</em> and <em class="font-light">web security</em>.
    </p>

    <hr class="sm:w-1/2 mx-auto lg:mx-0 h-px my-8 bg-sky-400 border-0">

    <p class="text-sm flex flex-wrap justify-center lg:justify-start sm:justify-items-center sm:justify-center sm:content-center space-x-4">
      <a
        class="text-sky-200 md:after:content-['_↗'] sm:after:content-none rounded-full bg-sky-950 px-3 py-1 my-2 transition hover:scale-110 motion-reduce:transition-none motion-reduce:hover:transform-none"
        href="https://github.com/AlexReyesHuezo"
        target="_blank" rel="noopener noreferrer">
        Github
      </a>
      <a
        class="text-sky-100 md:after:content-['_↗'] sm:after:content-none rounded-full bg-sky-950 px-3 py-1 my-2 transition hover:scale-110 motion-reduce:transition-none motion-reduce:hover:transform-none"
        href="https://www.linkedin.com/in/alexreyeshuezo"
        target="_blank" rel="noopener noreferrer">
        LinkedIn
      </a>
      <a
        class="text-sky-100 md:after:content-['_↗'] sm:after:content-none rounded-full bg-sky-950 px-3 py-1 my-2 transition hover:scale-110 motion-reduce:transition-none motion-reduce:hover:transform-none"
        href="https://drive.google.com/file/d/1OoLoR7CdQSa5-7dXnGdWfMasXYX3IjKA/view?usp=sharing"
        target="_blank" rel="noopener noreferrer">
        Download my Resume
      </a>
    </p>

  </div>
  
  <div id="picture" class="lg:col-start-7 lg-col-end-8">
    <figure>
      <Image
        style="mask-image: linear-gradient(to bottom, black 55%, transparent 75%);"
        src={ProfilePic}
        alt="Alexander Reyes' profile pic"
        class="w-48 h-48 mx-auto object-contain scale-150 transition ease-in-out delay-75 hover:-translate-y-1 hover:scale-150 duration-300 motion-reduce:transition-none motion-reduce:hover:transform-none"
        loading="eager"
      />
    </figure>
  </div>

</section>