---
import { Image } from "astro:assets";
import ProfilePic from "../assets/profile.png";
---

<section>
  <div id="tagline">
    <h1>Alexander Reyes</h1>
    <p>
      I'm a passionate <strong>fullstack web developer</strong> from El Salvador
      with a deep interest in appealing <em>UI/UX</em>, <em
        >web accessibility</em
      > and <em>web security</em>.
    </p>

    <hr />

    <p>
      <a
        href="https://github.com/AlexReyesHuezo"
        target="_blank"
        rel="noopener noreferrer"
      >
        Github
      </a>
      <a
        href="https://www.linkedin.com/in/alexreyeshuezo"
        target="_blank"
        rel="noopener noreferrer"
      >
        LinkedIn
      </a>
      <a
        href="https://drive.google.com/file/d/1OoLoR7CdQSa5-7dXnGdWfMasXYX3IjKA/view?usp=sharing"
        target="_blank"
        rel="noopener noreferrer"
      >
        Download my Resume
      </a>
    </p>
  </div>

  <div id="picture">
    <figure>
      <Image
        src={ProfilePic}
        alt="Alexander Reyes' profile pic"
        loading="eager"
      />
    </figure>
  </div>
</section>
