---
import { Image } from 'astro:assets';
import ProfilePic from '../assets/profile.png';
---

<section class="grid grid-cols-1 lg:grid-cols-4 gap-4 items-center text-center lg:text-left min-h-screen p-6 max-w-screen-lg">

  <div id="tagline" class="lg:col-span-3 lg:pr-8">

    <h1 class="sm:text-4xl text-5xl font-serif font-extrabold">Alexander Reyes</h1>
    <p class="text-lg text-balance">
      I'm a passionate <strong class="font-bold">fullstack web developer</strong> from El Salvador with a deep interest in appealing <em class="font-light">UI/UX</em>, <em class="font-light">web accessibility</em> and <em class="font-light">web security</em>.
    </p>

    <hr class="sm:w-1/2 mx-auto lg:mx-0 h-px my-8 bg-gray-50 border-0">

    <p class="flex sm:justify-center lg:justify-start space-x-8 underline decoration-sky-100 decoration-2 underline-offset-4">
      <a
        class="test-sky-100 md:after:content-['_↗'] sm:after:content-none"
        href="https://github.com/AlexReyesHuezo"
        target="_blank" rel="noopener noreferrer">
        Github
      </a>
      <a
        class="test-sky-100 md:after:content-['_↗'] sm:after:content-none"
        href="https://www.linkedin.com/in/alexreyeshuezo"
        target="_blank" rel="noopener noreferrer">
        LinkedIn
      </a>
      <a
        class="test-sky-100 md:after:content-['_↗'] sm:after:content-none"
        href="https://drive.google.com/file/d/1OoLoR7CdQSa5-7dXnGdWfMasXYX3IjKA/view?usp=sharing"
        target="_blank" rel="noopener noreferrer">
        Download my resume
      </a>
    </p>

  </div>
  
  <div id="picture" class="lg:col-span-1 lg:pl-8">
    <figure>
      <Image
        src={ProfilePic}
        alt="Alexander Reyes' profile pic"
        class="w-48 h-48 mx-auto object-contain border-sky-900 dark:border-sky-200"
        loading="eager"
      />
    </figure>
  </div>

</section>