---
// Supports weights 100-900
import "@fontsource-variable/noto-serif";
import "@fontsource-variable/noto-sans";

import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

interface Props {
  title: string;
  description: string;
  image?: string;
}

const { title } = Astro.props;
const { description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="theme-color" content="#00addd" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content={description} />
    <meta
      name="keywords"
      content="web developer, web accessibility, web security, portfolio, blog"
    />
    <meta name="author" content="Alexander Reyes" />
    <meta name="robots" content="index, follow" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
    <link rel="canonical" href="https://alexander-reyes.com" />
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
<style is:global>
  :root {
    color-scheme: dark light;
  }
  body {
    display: grid;
    justify-content: center;
  }
</style>
