---
// Supports weights 100-900
import '@fontsource-variable/noto-serif';
import '@fontsource-variable/noto-sans';

import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="TODO" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="dark">
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
